/*<div class="message message-info">*/
/*     An informational message*/

/*<div class="message message-success">*/
/*    A success message*/

/*<div class="message message-warning">*/
/*    A warning message*/
/*    */
/*</div> class="message message-error">*/
/*    An error message*/

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.info {
    margin-left: 1em;
    height: 25px;
    vertical-align: center;
    font-size: 24px;
    color: blue;
    display:block;
    width: 1500px;
    padding: 20px 0px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: lightblue; transparent;
}
.success {
    margin-left: 1em;
    height: 25px;
    vertical-align: center;
    font-size: 24px;
    color: blue;
    display:block;
    width: 1500px;
    padding: 20px 0px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: lightgreen; transparent;
}
.warning {
    margin-left: 1em;
    height: 25px;
    vertical-align: center;
    font-size: 24px;
    color: blue;
    display:block;
    width: 1500px;
    padding: 20px 0px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: lightyellow; transparent;
}
.error {
    margin-left: 1em;
    height: 25px;
    vertical-align: center;
    font-size: 24px;
    color: blue;
    display:block;
    width: 1500px;
    padding: 20px 0px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: lightpink; transparent;
}